*{
    margin: 0;
    padding: 0;
    font-family: 'league gothic', helvetica, serif;
    box-sizing: border-box;
}

body{
    background: #262a2f;
}

.container{
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a29aa0;
    border-radius: 22px;
    box-shadow: 23px 23px 45px #333;
}

.container p{
    font-weight: 600;
    font-size: 17.2px; 
    margin-bottom: 8px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.container input{
    font-size:15px;
    width: 80%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 44.5px 30px;
    border-radius: 10px;
}

button {
    position: relative;
    display: inline-block;
    margin: 15px 108px 15px;
    margin-bottom: 40px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #140d2c;
    background: #9c96b1;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #0b0324;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #431fb8;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
transform: scale(0.9);
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        box-shadow: 10px 10px 20px #333;
    }

    .container input, button {
        width: calc(100% - 20px);
        margin: 10px 10px;
    }

    button {
        margin: 15px auto;
        display: block;
    }

    .container p {
        font-size: 15px;
    }
}
