body{
    display: auto;
    margin: auto;
    padding: auto;
    background-color: #18181b;
}
html {
    scroll-behavior: smooth;
}

.span{
    position: absolute;
    box-shadow: 0 0 1000px 50px #0b0bd2;
    z-index: -100;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #18181b34;
    transition: backdrop-filter 0.1s ease, background-color rgba(15, 15, 17, 0.671) 0.1s ease; 
    padding:  0 ;
    color: #fff;
    text-align: cent;
    z-index: 1000;
}

.navbar.scrolled {
    backdrop-filter : blur(20px); 
    background-color: rgba(0, 0, 0, 0.377);
}

.navbar.show {
    top: 0; 

}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; 
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 1rem; 
    margin: 1rem; 

}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    padding: 1rem 2rem;
    position: relative;
}

.link::before,
.link::after {
    content: "";    
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}
.link::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after {
    transform: scaleX(1);
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0b0bd2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 37%;
    left: 28.2%;
}
.btn:hover{
    background-color: #1e40af;
}


h4{
    color: #e9cbcb;
    font-size: 20px;
    position: absolute;
    top: 37%;
    left: 11%;
}

h1{
    color: #fff;
    position: absolute;
    top:42%;
    left: 11%;
}
img{
    width: 500px;
    position: absolute;
    top: 30%;;
    right: 3%;
    border-radius: 2px;
    margin: 10px;
    box-sizing: border-box;
}

.about-me{
    font-size: 20px;
    color: #e9cbcb;
    position: absolute;
    top: 51%;
    left: 11%;
    max-width: 410px;
    box-sizing: content-box;
}

.projects{
    display: grid; 
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 10%;
    align-content: space-around;
    margin-top: 80px;
}

.A-h2{
    text-decoration: none;
    color:#e9cbcb; 
    font-size: 50px;
    font-family: 'league gothic', helvetica, serif;
    padding: 1rem 2rem;
    position: relative;
    right: 20%;
}

.A-h2::before,
.A-h2::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 0.7s ease;
}

.A-h2::before{
    top: 0;
    left: 0;
    transform-origin: left;
}
.A-h2::after{
    bottom: 0;
    left: 5%;
    transform-origin: right;
}

.A-h2:hover::before,
.A-h2:hover::after{
    transform: scale(1);
}

.h3{
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    font-family: 'league gothic', helvetica, serif;
}

.p-1{
    background-color: #18181b;
    font-size: 22px;
    color: #fff;
}

.video{
    border-radius: 62px;
    background: #0e061c;
    box-shadow:  6px 6px 12px #0b0517,
                -6px -6px 12px #110721;
}
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
}

.video-Qr{
    border-radius: 62px;
    background: #0e061c;
    box-shadow:  6px 6px 12px #0b0517,
                -6px -6px 12px #110721;
}

@media screen and (max-width: 812px) {
    body, html {
        margin: 0;
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    .navbar {
        padding-top: env(safe-area-inset-top);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
        height: 50px; /* Ajustar según sea necesario */
    }

    ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .link, .btn {
        font-size: 18px; /* Ajuste el tamaño de fuente según sea necesario */
        padding: 0.5rem; /* Ajuste el padding según sea necesario */
    }

    .btn {
        top: auto;
        bottom: 20px; /* Ajuste la posición según sea necesario */
        left: 50%;
        transform: translateX(-50%);
    }

    h1, h4, .about-me {
        font-size: 16px; /* Ajuste el tamaño de fuente según sea necesario */
        text-align: center; /* Centrar el texto para una mejor legibilidad en pantallas pequeñas */
        padding: 0 20px; /* Añade padding horizontal para no tocar los bordes */
        left: 0;
        right: 0;
        margin: auto;
    }

    img {
        width: 80%; /* Ajustar el ancho de la imagen según sea necesario */
        top: 60px; /* Ajustar la posición superior según sea necesario */
        left: 10%; /* Centrar la imagen horizontalmente */
        right: 10%;
        margin-top: 20px; /* Espacio por encima de la imagen */
        position: relative; /* Cambiar a relativo para evitar problemas de sobreposición */
    }

    .projects, .video, .video-Qr {
        padding: 0 20px; /* Añade padding horizontal para asegurar que el contenido no toque los bordes */
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Hacer que los proyectos sean más responsivos */
        top: auto; /* Resetear posición */
        width: auto;
        margin: 20px env(safe-area-inset-left) 20px env(safe-area-inset-right);
    }

    .A-h2 {
        font-size: 24px; /* Ajustar el tamaño del texto para dispositivos más pequeños */
        text-align: center; /* Centrar el texto */
        padding: 0.5rem; /* Ajustar el padding */
        left: 0; /* Resetear posición */
        right: 0; /* Resetear posición */
        margin: 0 auto; /* Centrar horizontalmente */
    }
}



